:root {
  /* Primary */

  --softOrange: hsl(35, 77%, 62%);
  --softRed: hsl(5, 85%, 63%);

  /* Neutral */

  --offWhite: hsl(36, 100%, 99%);
  --grayishBlue: hsl(233, 8%, 79%);
  --darkGrayishBlue: hsl(236, 13%, 42%);
  --veryDarkBlue: hsl(240, 100%, 5%);

  /* Layout */

  --mt-30: 1.875rem;
  --mb-10: 0.625rem;
  --pb-25: 1.5rem;

  --grid-gap-25: 1.5rem;

  /* Typography */

  --fs-14: 0.9rem;
  --fs-32: 2rem;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  height: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  transition: all ease 0.2s;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--offWhite);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  height: 100%;
  scrollbar-width: none;
}

body.noscroll {
  overflow: hidden;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
figure {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
}

/* GRID AREAS  */

.grid-header {
  grid-area: header;
}

.grid-hero {
  grid-area: hero;
}

.grid-aside {
  grid-area: aside;
}

.grid-footer {
  grid-area: footer;
}

/* CONTAINER */

.container {
  width: 100%;
  padding: 2.2rem 1rem;
  height: fit-content;
  overflow-x: hidden;
  max-width: 69.4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(min-content, max-content);
  grid-template-areas: "header header header" "hero hero aside" "hero hero aside" "footer footer footer";
  gap: 1.55rem;
}

/* GRID AREA HEADER */
/* GRID AREA HEADER */
/* GRID AREA HEADER */

.grid-header {
  margin-top: 3.4rem;
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}

.logo svg {
  width: 4.125rem;
}

/* MENU MOBILE */

.btn-hamburger {
  z-index: 100;
  position: absolute;
  width: 40px;
  height: 17px;
  right: 0;
  cursor: pointer;
  background-image: url(/images/icon-menu.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: all 0.35s ease-in-out;
}

.btn-hamburger.open {
  width: 32px;
  height: 31px;
  transform: rotate(180deg);
  background-image: url(/images/icon-menu-close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* OVERLAY */
/* OVERLAY */
/* OVERLAY */

.overlay {
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 26, 0.45);
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in-out;
}

.overlay.show {
  visibility: visible;
  opacity: 1;
}

.menu-mobile {
  z-index: 9;
  min-height: 100vh;
  width: 16rem;
  background-color: var(--offWhite);
  position: absolute;
  padding: 10rem var(--pb-25);
  top: -2.2rem;
  right: -16rem;
  transition: all 0.25s ease-in-out;
}

.menu-mobile-item {
  font-size: 1.125rem;
  padding-bottom: var(--pb-25);
  cursor: pointer;
}

.menu-mobile-item:hover {
  color: var(--softRed);
}

.menu-mobile.show {
  right: -25px;
}

/* MENU DESKTOP */

.menu-desktop {
  width: 27.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--darkGrayishBlue);
  cursor: pointer;
}

.menu-desktop-item:hover {
  color: var(--softRed);
}

.hide-for-desktop {
  visibility: hidden;
}

/* GRID AREA HERO */
/* GRID AREA HERO */
/* GRID AREA HERO */

.grid-hero {
  height: fit-content;
}

.hero-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--grid-gap-25);
}

.hero-title {
  font-size: clamp(2.56rem, 5vw, 3.45rem);
  font-weight: 800;
  line-height: 1;
  margin-top: var(--mt-30);
}

.hero-text {
  font-size: var(--fs-14);
  line-height: 1.7;
  color: var(--darkGrayishBlue);
  padding-right: 1.25rem;
  margin-top: var(--mt-30);
}

.read-more-btn {
  padding: 1rem 1.875rem;
  background-color: var(--softRed);
  color: var(--offWhite);
  font-size: var(--fs-14);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: var(--mt-30);
}

.read-more-btn:hover {
  background-color: var(--veryDarkBlue);
}

/* GRID AREA ASIDE */
/* GRID AREA ASIDE */
/* GRID AREA ASIDE */

.grid-aside {
  height: fit-content;
  background-color: var(--veryDarkBlue);
  width: 100%;
  padding: var(--pb-25);
}

.grid-aside h2 {
  font-size: var(--fs-32);
  font-weight: 600;
  color: var(--softOrange);
}

.aside-link {
  font-size: 1.25rem;
  color: var(--offWhite);
  margin-top: var(--mt-30);
  margin-bottom: var(--mb-10);
  cursor: pointer;
}

.aside-link:hover {
  color: var(--softOrange);
}

.grid-aside article p {
  font-size: var(--fs-14);
  line-height: 1.7;
  color: var(--grayishBlue);
  padding: 0 0.7rem 0.625rem 0;
}

.divider {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* GRID AREA FOOTER */
/* GRID AREA FOOTER */
/* GRID AREA FOOTER */

.grid-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--grid-gap-25);
  margin-top: 2.5rem;
  margin-bottom: 3.125rem;
}

.footer-article {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--grid-gap-25);
}

.footer-text h2 {
  font-size: var(--fs-32);
  color: var(--grayishBlue);
  margin-bottom: var(--mb-10);
}

.footer-link {
  font-size: 1.125rem;
  font-weight: 800;
  cursor: pointer;
}

.footer-link:hover {
  color: var(--softRed);
}

.footer-text p {
  color: var(--darkGrayishBlue);
  font-size: var(--fs-14);
  line-height: 1.7;
  margin-top: 5px;
}

@media only screen and (max-width: 47.9em) {
  .hide-for-mobile {
    visibility: hidden;
  }

  .hide-for-desktop {
    visibility: visible;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  /* GRID AREA HEADER */

  .grid-header {
    margin-top: 0px;
  }

  .navbar {
    margin-bottom: 0px;
  }

  .logo svg {
    width: 2.875rem;
  }

  /* GRID AREA HERO */

  .hero-info {
    display: flex;
    flex-direction: column;
  }

  .hero-text {
    margin-top: 0px;
  }

  .read-more-btn {
    margin-top: 1.56rem;
    margin-bottom: 1.56rem;
  }

  .grid-aside {
    padding: 1.25rem;
  }

  .grid-footer {
    display: grid;
    grid-template-columns: 1fr;
  }

  .footer-article {
    gap: 1.25rem;
  }
}

@media only screen and (min-width: 48em) and (max-width: 64em) {
  body {
    padding: 0.5rem 2.5rem;
  }

  .hide-for-mobile {
    visibility: hidden;
  }

  .hide-for-desktop {
    visibility: visible;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .read-more-btn {
    margin-bottom: 1.875rem;
  }

  .grid-footer {
    width: 65%;
    display: flex;
    flex-direction: column;
  }
}
